<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="icon" href="https://www.iconarchive.com/download/i132253/bootstrap/bootstrap/Bootstrap-cloud-fog2-fill.1024.png" type="image/png">
    <title>Climax</title>
  </head>
  <body style="text-align: center;">

    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand"><i class="bi bi-cloud-fog2-fill"></i> Climax</a>
        <nav class="d-flex">
        </nav>
      </div>
    </nav>
    <div class="pinel text-center" style="max-width: 100%;">
      <div class="card text-center" style="width: 18rem; display: inline-block; margin: 30px;">
        <div class="card-header text-white bg-dark mb-3 fs-4 mb-3">
          <i class="bi bi-building"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Cidades</h5>
          <p class="card-text">Veja a previsão do tempo nas cidades brasileiras</p>
          <a href="./homepage_cidades.html" class="btn btn-primary">Buscar cidade</a>
        </div>
      </div>
      <div class="card text-center" style="width: 18rem; display: inline-block; margin: 30px;">
        <div class="card-header text-white bg-dark mb-3 fs-4 mb-3">
          <i class="bi bi-airplane-engines"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Aeroportos</h5>
          <p class="card-text">Veja a previsão do tempo em todos os aeroportos brasileiros</p>
          <a href="./homepage_aeroporto.html" class="btn btn-primary">Buscar aeroporto</a>
        </div>
      </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
